<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipes!!!!!!!!!</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="bulma.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    body {
      background-color: #FFDBE9;
    }
    h1 {
      font-variant: small-caps;
    }
    .recipe {
      background-color: white;
      padding: 10px;
    }
    .navbar-box {
      background-color: black;
      padding: 20px;
    }

    .navbar-center {
      display: flex;
      justify-content: space-evenly;
    }

    .navbar-item a {
      text-decoration: none;
      color: white;
      font-size: 24px;
      text-align: center;
      font-family: 'Helvetica';
    }
  </style>
</head>

<body>
  <!-- Main navigation bar -->
  <div class="navbar-box">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-center">
          <div class="navbar-item">
            <a href="/">Home</a>
          </div>
          <div class="navbar-item">
            <a href="/recipe-creation">Create</a>
          </div>
          <div class="navbar-item">
            <a href="/manage-recipes">Manage</a>
          </div>
          <div class="navbar-item">
            <a href="/categories">Categories</a>
          </div>
        </div>
      </div>
    </nav>
  </div>