<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Recipe</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link to your CSS file -->
</head>
<body>
    <h1>Create Your Recipe</h1>
    <form id="recipeForm" action="/recipe-creation" method="post" enctype="multipart/form-data">
        <div>
            <label for="name">Recipe Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        
        <div>
            <label for="ingredients">Ingredients:</label>
            <textarea id="ingredients" name="ingredients" required></textarea>
        </div>
        
        <div>
            <label for="steps">Cooking Steps:</label>
            <textarea id="steps" name="steps" required></textarea>
        </div>
        
        <div>
            <label for="time">Cooking Time:</label>
            <input type="text" id="time" name="time" required>
        </div>
        
        <div>
            <label for="image">Image:</label>
            <input type="file" id="image" name="image">
        </div>
        
        <div>
            <input type="submit" value="Create Recipe">
        </div>
    </form>
</body>
</html>
